name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Install dependencies
        run: just sync

      - name: Type check
        run: just type-check

      - name: Lint
        run: just lint-check

      - name: Format check
        run: just format-check

      - name: Test
        run: just test
